ul.fancy_list {
    list-style: none;
}

ul.fancy_list>li::before {
    content: "o";
    padding-right: 1rem;
}

ul.fancy_list>li::after {
    content: "|";
    position: absolute;
    left: 2.8px;
    top: 12px;
    font-size: 12px;
    font-weight: 900;
}

ul.fancy_list>li {
    position: relative;
}

ul.fancy_list>li:last-child:after {
    display: none;
}

.flex_container1 [class*="flx_"] {
    background-color: antiquewhite;
    border: rgb(173, 44, 44) 2px solid;
}

.container {
    margin: 0 auto;
    width: 95vw;
}

.flex_container>* {
    background-color: rgb(236, 234, 230);
    padding: .4rem;
    text-align: center;
}

.flex_container1 {
    height: 15vh;
    display: flex;
    margin: auto;
    width: 50vw;
    background-color: rgb(170, 150, 124);
    justify-content: space-evenly;
    align-items: flex-end;
    /* align-items: stretch; */
}

.flex_container2 {
    height: 30vh;
    display: flex;
    margin: auto;
    width: 95vw;
    background-color: rgb(168, 161, 151);
    justify-content: space-evenly;
    align-items: flex-end;
    border-radius: 1vh;
}

.flex_container2>.flx_4 {
    flex-grow: 1;
    height: 5vh;
    align-self: flex-end;
    background-color: peachpuff;
    border-radius: 1vh;
}

.flex_container2>.flx_5 {
    flex-grow: 1;
    height: 20vh;
    width: 33vw;
    border: 3px dashed #1c87c9;
    /* align-self: stretch; */
    align-self: center;
    background-color: rgb(224, 144, 73);
    border-radius: 1vh;
}

.flex_container2>.flx_6 {
    flex-grow: 1;
    height: 5vh;
    align-self: flex-start;
    background-color: plum;
    border-radius: 1vh;
}
