* {
    box-sizing: border-box;
}

.flex_container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_container3>* {
    background-color: moccasin;
    flex-grow: 1;
    border: navy 1px solid;
    text-align: center;
}

@media (min-width:501px) {
    .flex_container3>* {
        width: 50%;
    }
}

@media (min-width:768px) {
    .flex_container3>* {
        width: 33.333%;
    }
}

@media (min-width:1024px) {
    .flex_container3>* {
        width: 16.666%;
    }
}