* {
  box-sizing: border-box;
}

.grid_form_layout {
  display: grid;
  grid-template-columns: 100%;
  align-items: flex-start;
  row-gap: 1rem;
  grid-template-areas: "left" "right" "msg" "agb" "button";
}

.grid_form_left {
  grid-area: left;
}

.grid_form_right {
  grid-area: right;
}

.grid_form_msg {
  grid-area: msg;
}

.grid_form_agb {
  grid-area: agb;
}

.grid_form_agb label::after {
  content: "";
  display: block;
}

.grid_form_button {
  grid-area: button;
}

.grid_form_left, .grid_form_right {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: flex-start;
}

#gender {
  display: flex;
  justify-content: space-between;
  grid-column: 1/3;
}

#nachricht {
  display: block;
  width: 100%;
  min-height: 100px;
}

input, label {
  width: auto;
  margin: 0;
  padding: 0;
  height: 1.4em;
}

form {
  background-color: dimgray;
  color: lemonchiffon;
}

.happy_bar {
  display: flex;
  justify-content: space-between;
}

@media (min-width:655px) {
  .grid_form_layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right" "msg msg" "agb button";
  }
  .grid_form_right {
    padding-left: 0.5rem;
  }
}