.griddy_ende [class*="flx_"] {
    background-color: antiquewhite;
    border: rgb(162, 202, 67) 2px solid;
}

#content{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 6px 2px;
    /* max-width: 960px; */
    margin: 0 auto;
}

#content div{
    background: #777;
    padding: 30px;
}

#content>.griddy_anfang:first-child{
    background: rgb(233, 159, 159);
}

#content>.griddy_anfang {
    grid-column: 1 / span 3;
    text-align: center;
    /* border-radius: 1vh; */
}

#content>.griddy_center {
    flex-grow: 1;
    height: 30vh;
    align-self: center;
    background-color: peachpuff;
    /* border-radius: 1vh; */
}

#content>.griddy_ende {
    height: 14vh;
    display: flex;
    margin: auto;
    width: 95vw;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 1 / span 3;
    text-align: center;
    /* border-radius: 1vh; */
}