/*
Wertigkeit der Selektoren
Tag     (zB. p)     hat 1      Punkte
Klassen (.bg_green) hat 10     Punkte
ID      (#middle..) hat 100    Punkte
inline              hat 1000   Punkte
*/

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 502px) {
    ul.formatted_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }
    ul.formatted_list>li {
        float: left;
    }
    ul.formatted_list>li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.formatted_list>li a:hover:not(.active) {
        background-color: #111;
        text-decoration: underline;
    }
    ul.formatted_list>li .active {
        background-color: #4CAF50;
    }
    ul.formatted_list>li:last-child {
        float: right;
    }
    .active {
        background-color: #4CAF50;
    }
    .content {
        padding: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 501px) {
    ul.formatted_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #333;
    }
    ul.formatted_list>li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        background-color: #333;
    }
    ul.formatted_list>li a.active {
        background-color: #4CAF50;
        color: white;
    }
    ul.formatted_list>li a:hover:not(.active) {
        background-color: #111;
        text-decoration: underline;
    }
    .active {
        background-color: #4CAF50;
    }
    .content {
        padding: 20px;
        margin-top: 0px;
    }
}