table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  display: block;
}

th {
  text-align: left;
  width: 400px;
  padding: 10px;
  background-color: #c2abab;
}

td {
  text-align: left;
  padding: 7px 7px 7px 0px;
  font-size: 12px;
}

span {
  text-align: left;
  font-size: 10px;
}

.griddy_ende [class*="flx_"] {
  border: 1px solid rgba(138, 60, 46, 0.918);
}

.griddy_ende [class*="info"] {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  display: grid;
  grid-template-columns: 58% 2% 40%;
  grid-gap: 2px 2px;
  margin: 0 auto;
  width: 800px;
}

#content div {
  background: rgb(158, 157, 157);
  padding: 10px;
}

#content>.griddy_anfang {
  grid-column: 1 / span 3;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

#content>.griddy_center {
  flex-grow: 1;
  height: 50vh;
  align-self: center;
  background-color: peachpuff;
}

#content>.griddy_ende {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  align-content: flex-end;
  grid-column: 1 / span 3;
  text-align: center;
}

@media (max-width: 741px) {
  #content {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
  }
  #content>.griddy_ende {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
  }
  
}