* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto';
}

h2 {
    font-size: 2.5em;
    margin-top: 50px;
}

body {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    /* background-color: rgba(196, 172, 172, 0.164); */
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: left;
    position: relative;
    width: 300px;
    padding: 10px;
    background-color: #c2abab;
    z-index: 1;
}

td {
    text-align: left;
    position: relative;
    padding: 7px 7px 7px 0px;
    font-size: 14px;
    z-index: 3;
}

section {
    min-height: 100vh;
}

.mobileHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 1.2rem;
    color: #1e0e11;
    padding: 4px;
    margin: auto;
}


.tel {
    display: block;
    /* Block-Element */
    width: fit-content;
    /* nur so breit wie der Inhalt */
    margin: 1vh auto;
    /* oben/unten 1vh, links/rechts zentriert */
    text-align: center;
    /* Text zentrieren */
    background-color: rgba(255, 255, 255, 0.459);
    font-size: 1.5rem;
    color: #d4b710;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.tel a {
    color: inherit;
    text-decoration: none;
}

.phone-icon {
    color: #d4b710;
    /* goldene Farbe für das Symbol */
    font-size: 1.5rem;
    /* gleiche Größe wie Text */
    vertical-align: middle;
}

.teaser {
    background-image: url(../img/HG_1.jpg);
    background-size: cover;
}

.teaser_div {
    /* background-color: rgb(179, 177, 175); */
    position: absolute;
    top: 30vh;
    right: 6%;
    width: 330px;
    height: 300px;
    z-index: 2;
}

.teaser_logo {
    width: 100%;
    height: 100%;
    z-index: 2;

    /* Schrift statt Bild */
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Gold-Verlauf */
    background: linear-gradient(135deg, #f9e29f, #f6c552, #d99a1a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* Glow-Effekt */
    text-shadow:
        0 0 8px rgba(0, 0, 0, 0.8),
        0 0 18px rgba(217, 154, 26, 0.9);
}

.team,
.price,
.contact {
    padding-bottom: 50px;
    background-color: #f3efe9;
    z-index: 1;
}

.galerie,
.service {
    padding-bottom: 50px;
    background-image: url(../img/HG_2.jpg);
    background-attachment: fixed;
    color: #dbdac7;
    z-index: 1;
}

#top_header,
#topnav {
    position: relative;
    height: 47px;
    width: 100vw;
    background-color: #c2abab;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoMain {
    background: url(../img/Logo.svg);
    width: 47px;
    height: 47px;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
}

.flex_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .flex_content .col-3 {
    text-align: center;
    align-self: baseline;
    height: 110px;
    width: 30%;
}

.contact .flex_content .col-3:nth-of-type(2) {
    border-left: #ba968fe1 1px solid;
    border-right: #ba968fe1 1px solid;
}

.flex_content_team .col-3 {
    text-align: left;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 25%;
    z-index: 3;
}

.col-2 {
    text-align: left;
    width: 30%;
}

.col-1 {
    text-align: center;
    width: 90vw;
}



.service {
    position: relative;
}

.service>.wrapper {
    width: 95vw;
    margin: auto;
}

.price {
    position: relative;
}

.price>.wrapper {
    width: 95vw;
    margin: auto;
}

.galerie {
    position: relative;
}

.galerie>.wrapper {
    width: 80vw;
    margin: auto;
}

.contact>.wrapper {
    width: 95vw;
    margin: auto;
}

.ul_nav {
    list-style-type: none;
    margin-right: 20px;
}

.ul_nav a {
    text-decoration: none;
    color: #1e0e11;
    display: block;
    /* background-color: #7e172b; */
}

.ul_nav a:hover:not(.active) {
    color: #7e172b;
}

.active {
    background-color: rgb(201, 151, 131);
    border-bottom: black 3px solid;
}

h1 {
    font-size: 2rem;
}

h4 {
    margin-top: 10px;
}

h1,
p {
    padding: 15px;
}

.team img {
    width: 100%;
}

.flex_content .trenner_img {
    width: 300px;
}


.team_small_member {
    height: 330px;
}


.team_small_member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Bild skaliert ohne Verzerrung */
    display: block;
}


.team_job_descr {
    font-size: 0.9em;
    display: block;
    margin-bottom: 20px;
    /* Abstand zum unteren Rand */
}

ul.liste_service {
    list-style: none;
}

ul.liste_service>li::before {
    content: "o";
    font-size: 22px;
    padding-right: 1rem;
}

ul.liste_service>li::after {
    content: "|";
    position: absolute;
    left: 3.8px;
    top: 18px;
    font-size: 22px;
    font-weight: 900;
}

ul.liste_service>li {
    position: relative;
    vertical-align: middle;
    margin-top: 8px;
}

ul.liste_service>li:hover {
    font-size: 1.2rem;
}

ul.liste_service>li:hover::before {
    color: #c78d99;
    font-size: 22px;
}

ul.liste_service>li:last-child:after {
    display: none;
}

/* contact site */

.write_us>p {
    margin-top: 3vh;
    margin-left: 1vw;
}

.form_ele_contact {
    display: flex;
    align-content: space-evenlyeen;
    height: 100%;
    flex-wrap: wrap;
}

.form_ele_contact>* {
    width: 100%;
    background-color: #f0e3e3;
    color: rgb(0, 0, 0);
    border: none;
}

#form_contact textarea {
    min-height: 60%;
    max-height: 70%;
    min-width: 100%;
}

#form_contact input {
    height: 30px;
}

#form_contact input[type="submit"] {
    background-color: #f0e3e3;
    text-align: center;
    margin: auto;
    width: 80px;
}

#form_contact {
    height: 100%;
}

/* fancy nav => Hamburger Menu */

#myNav,
#myGal {
    height: 0px;
}

#topnav a:not(.closebtn),
.galerie a:not(.closebtn) {
    color: #1e0e11;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

#topnav a.icon {
    /* background: black; */
    color: #1e0e11;
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
}

#topnav a:hover:not(.closebtn) {
    color: #7e172b;
}

#topnav .closebtn:hover {
    background-color: #c2685c;
    color: white;
}

#overlayGal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    /* Halbtransparentes Overlay */
    z-index: 1000;
    /* Höher als andere Elemente */
    display: none;
    pointer-events: auto;
    /* Stellt sicher, dass das Overlay Klicks abfängt */
}

body.overlay-active {
    overflow: hidden;
    /* Verhindert Scrollen, während das Overlay aktiv ist */
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: #c2abab;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    width: 100%;
}

.overlay a {
    display: block;
}

.overlay .closebtn:hover {
    color: brown;
}

.opening-hours {
    margin: 0 auto;
    /* Zentriert die Tabelle horizontal */
    border-collapse: collapse;
    /* Entfernt unnötige Abstände */
    text-align: center;
}

.opening-hours td {
    padding: 10px 5px;
    /* 10px vertikal, 5px horizontal */
}

.opening-hours td:first-child {
    font-weight: bold;
    /* Wochentage hervorheben */
}

.opening-hours td:last-child {
    color: #555;
    /* Uhrzeiten dezenter */
}

.info-price p {
    margin-top: 50px;
    text-align: center;
    /* Zentriert den Text */
    font-size: 10px;
    /* Kleinere Schrift */
    color: #555;
}

@media (max-width: 741px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        padding: 8px;
        list-style-type: none;
        text-decoration: none;
        font-size: 24px;
    }

    .overlay .closebtn {
        position: absolute;
        width: 47px;
        height: 47px;
        cursor: pointer;
        background-color: rgb(156, 8, 8);
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        top: 0px;
        left: 0px;
    }

    .ul_nav a {
        background-color: #c2abab;
    }

    .flex_content .col-1 {
        width: 90vw;
    }

    .team {
        background-color: #f3efe9;
        position: relative;
        padding: 5vh 0;
    }

    .team>.wrapper {
        width: 95vw;
        margin: auto;
        position: relative;
        /* für Rechtecke */
    }

    .flex_content_team {
        flex-direction: column;
        align-items: center;
        /* Container mittig */
        margin-top: 10vh;
    }

    .flex_content_team .col-3 {
        width: 90%;
        /* nicht 90vw, besser % */
        max-width: 400px;
        /* max Größe */
        height: auto;
        /* Bild passt sich an */
        margin: 0 auto 2vh;
        /* oben=0, auto zentriert horizontal, unten=2vh */
    }

    .team_small_member {
        height: auto;
    }

    .flex_content_preise {
        position: relative;
        flex-wrap: wrap;
        display: flex;
    }

    .flex_content.space_evenly {
        position: relative;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
    }

    .flex_content.space_evenly .col2 {
        width: 90vw;
        height: 50vh;
        margin-bottom: 2vh;
    }

    .flex_content.space_evenly .col-price {
        background-color: rgb(240, 231, 231);
        margin-bottom: 2vh;
    }

    #top_header {
        display: none;
    }
}

@media (min-width: 741px) {

    #menuToggle,
    #topnav {
        display: none;
    }

    .ul_nav li {
        float: right;
    }

    .ul_nav a {
        color: #1e0e11;
        font-size: 1.2rem;
        padding: 10px;
    }

    .ul_nav a:hover:not(.active) {
        /* background-color: rgba(110, 18, 18, 0.658); */
        color: #7e172b;
    }

    .ul_nav li:first-child {
        float: left;
    }

    .ul_nav::after {
        content: "";
        display: block;
        clear: both;
    }

    .flex_content_preise {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-top: 1vh;
    }

    .flex_content_team {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        position: relative;
        margin-top: 10vh;
        height: 50vh;
        align-self: baseline;
        align-content: center;
        z-index: 1;
    }

    .flex_content.space_evenly {
        justify-content: space-evenly;
    }

    .flex_content.space_evenly .col2 {
        /* background-color: tomato; */
        width: 48%;
        height: 60vh;
    }

    .flex_content.space_evenly .col-price:first-of-type {
        width: 415px;
        /* background-color: rgb(240, 231, 231); */
        height: 62vh;
        margin-bottom: 2vh;
    }

    .flex_content.space_evenly .col-price:last-of-type {
        width: 300px;
        /* background-color:rgb(240, 231, 231); */
        height: 62vh;
        margin-bottom: 2vh;
    }

    .scissors_prices {
        background-image: url(../img/Schere.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 488px;
        height: 488px;
        z-index: 2;
    }
}